<a href="https://colab.research.google.com/github/skmarieta/first_repository/blob/main/Work_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание №1

In [ ]:
print('Hello word')

Hello word

Задание №2

In [ ]:
print(4, 8, 15, 16, 23, 42, '°C')

4 8 15 16 23 42 °C

Задание №3

In [ ]:
for i in range(1,8):
  print(i*'*')

*
**
***
****
*****
******
*******

Задание №4

In [ ]:
print('Отчёт о доходах')
print('1 квартал: 1200000 руб.')
print('2 квартал: 1350000 руб.')
print('3 квартал: 1280000 руб.')
print('4 квартал: 1420000 руб.')

Отчёт о доходах
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

Задание №5

In [ ]:
name = input()
print('Добро пожаловать в команду,', name + '!')

Влад
Добро пожаловать в команду, Влад!

Задание №6

In [ ]:
name_company = input()
print(name_company, '- лидер рынка!')

Сбер
Сбер - лидер рынка!

Задание №7

In [ ]:
data_name = input()
row_count = input()
column_count = input()
print(data_name)
print(row_count)
print(column_count)

Sales Q1
1000
8
Sales Q1
1000
8

Задание №8

In [ ]:
report_1 = input()
report_2 = input()
report_3 = input()
print(report_3)
print(report_2)
print(report_1)

Продажи за январь
Продажи за февраль
Продажи за март
Продажи за март
Продажи за февраль
Продажи за январь

Задание №9

In [ ]:
base_price = int(input())
growth_percent = int(input())
new_price = base_price+base_price*growth_percent/100
delta = new_price-base_price
print('new_price =', new_price)
print ('delta =', delta)

100
20
new_price = 120.0
delta = 20.0

Задание №10

In [ ]:
print('Северный', 'Центральный','Южный', sep='***')

Северный***Центральный***Южный

Задание №11

In [ ]:
name = input()
print('Подключение установлено.', end = ' ')
print('Добро пожаловать,', name + '!')

Влад
Подключение установлено. Добро пожаловать, Влад!

Задание №12

In [ ]:
sep_str = input()
product_1 = input()
product_2 = input()
product_3 = input()
print(product_1, product_2, product_3, sep = sep_str)

|
Молоко
Хлеб
Сыр
Молоко|Хлеб|Сыр

Задание №13

In [ ]:
value_str = input()
print(int(float(value_str)))

42.7
42

Задание №14

In [ ]:
orders_yesterday = int(input())
plan = int(input())
abs_diff = abs(orders_yesterday-plan)
print('Абсолютное отклонение от плана равняется',abs_diff)

10
20
Абсолютное отклонение от плана равняется 10

Задание №15

In [ ]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())
print('Наименьшее число =', min(a,b,c,d,e))
print('Наибольшее число =', max(a,b,c,d,e))

6
15
25
1
6666666
Наименьшее число = 1
Наибольшее число = 6666666

Задание №16

In [ ]:
first_name = input()
last_name = input()
print('Привет, ' + first_name + ' ' + last_name + '! Вы только что начали изучать Python')

Антон
Иванов
Привет, Антон Иванов! Вы только что начали изучать Python

Задание №17

In [ ]:
str_1 = input()
str_2 = input()
print(str_1+' '+str_2)

«Каждый в этой стране должен научиться программировать,
потому что это учит думать.»
«Каждый в этой стране должен научиться программировать, потому что это учит думать.»

Задание №18

In [ ]:
sum = float(input())
print(sum >=1000)

1000.5
True

Задание №19

In [ ]:
age = int(input())
print(age>=18)

16
False

Задание №20

In [ ]:
s = float(input())
v_1 = float(input())
v_2 = float(input())
t = s/(v_1+v_2)
print(t)

500
50
70
4.166666666666667

Задание №21

In [ ]:
a = float(input())
b = float(input())
s = a*b/2
print(s)

443
390
86385.0

Задание №22

In [ ]:
t_f = float(input())
t_c = (5/9)*(t_f-32)
print(t_c)

450.55
232.5277777777778

Задание №23

In [ ]:
revenue_str = float(input())
courier_name = input()
bonus = int(revenue_str*0.01)
report = 'Курьер '+ courier_name + ' получит бонус '+ str(bonus) + 'р.'
print(report)

438746.78
Влад
Курьер Влад получит бонус 4387р.